.card{
     
      height: 200px;
      width: 500px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      padding-left: 5px;
}

.card-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
   
}