<p>login works!</p>
<form id="registerform" (ngSubmit)="login()">
    <div ng-app="" >
        <input [(ngModel)]="email" type="email"  id="email" name="email" placeholder="enter email" required>
    </div>
   <div ng-app="" >
    <input [(ngModel)]="password" type="password"  id="password" name="password" placeholder="enter password" required>
   </div>

    <div ng-app="" >
        <button type="submit" class="btn btn-secondary" >Login</button>
    </div>
   
</form>
<p *ngif ="error" >{{error}}</p>