.nav-link{
    color: aliceblue;
    text-align: center;
}

.card-body{
    color: aliceblue;
    background-color: #0d1321;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card {
    width: 300px;
    min-height: 200px;
}

.card-new{
    width: 300px;
    
}


